{% extends 'layout.html.twig' %}

{% block title %}{{ 'register.page_title'|trans }}{% endblock %}

{% block body %}
    <div class="landing">
        <div class="landing-decoration"></div>
        <div class="landing-info">
            <div class="logo">
                <svg class="icon-logo-vikinger" aria-hidden="true" focusable="false">
                    <use xlink:href="#svg-logo-vikinger"></use>
                </svg>
            </div>

            <h2 class="landing-info-pretitle">{{ 'register.welcome'|trans }}</h2>

            <h1 class="landing-info-title">{{ 'site.title'|trans }}</h1>

            <p class="landing-info-text">{{ 'landing.info_text'|trans }}</p>

            <div class="tab-switch" role="tablist">
                <a id="login-tab" class="tab-switch-button login-register-form-trigger" href="{{ path('app_login') }}" role="tab" aria-selected="true" aria-controls="login-form">{{ 'login.tab'|trans }}</a>
                <p id="register-tab" class="tab-switch-button login-register-form-trigger" role="tab" aria-selected="false" aria-controls="register-form">{{ 'register.tab'|trans }}</p>
            </div>
        </div>

        <div class="landing-form">

            <div id="login-form" class="form-box login-register-form-element" role="tabpanel" aria-labelledby="login-tab">
                <img class="form-box-decoration" src="/img/landing/rocket.png" alt="{{ 'register.decorative_image'|trans }}">

                <h2 class="form-box-title">{{ 'register.create_account'|trans }}</h2>

                {{ form_errors(registrationForm) }}

                {{ form_start(registrationForm, {attr: {'class': 'form'}}) }}

                <div class="form-row">
                    <div class="form-item col-md-6">
                        <div class="form-input">
                            <label for="register-first-name">{{ 'register.first_name'|trans }}</label>
                            {{ form_widget(registrationForm.firstName) }}
                        </div>
                    </div>
                    <div class="form-item col-md-6">
                        <div class="form-input">
                            <label for="register-last-name">{{ 'register.last_name'|trans }}</label>
                            {{ form_widget(registrationForm.lastName) }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-item">
                        <div class="form-input">
                            <label for="register-email">{{ 'register.email'|trans }}</label>
                            {{ form_widget(registrationForm.email) }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-item">
                        <div class="form-input">
                            <label for="register-password">{{ 'register.password'|trans }}</label>
                            {{ form_widget(registrationForm.plainPassword) }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-item">
                        <div class="form-input">
                            <label for="register-password-repeat">{{ 'register.repeat_password'|trans }}</label>
                            {{ form_widget(registrationForm.confirmPassword) }}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-item">
                        <div class="checkbox-wrap">
                            {{ form_widget(registrationForm.agreeTerms) }}
                            <div class="checkbox-box">
                                <svg class="icon-cross" aria-hidden="true">
                                    <use xlink:href="#svg-cross"></use>
                                </svg>
                            </div>
                            <label for="registration_form_agreeTerms">{{ 'register.agree_terms'|trans }}</label>
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-item">
                        <button type="submit" class="button medium primary">{{ 'register.submit'|trans }}</button>
                    </div>
                </div>

                {{ form_end(registrationForm) }}

                <p class="form-text">{{ 'register.confirmation_email'|trans|raw }}</p>
            </div>

            <div id="register-form" class="form-box login-register-form-element">

            </div>
        </div>
    </div>
{% endblock %}