{% extends 'layout.html.twig' %}

{% block title %}{{ 'login.page_title'|trans }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        .form-input label {
            top: 5px;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="landing">
        <div class="landing-decoration"></div>
        <div class="landing-info">
            <div class="logo">
                <svg class="icon-logo-vikinger" aria-hidden="true" focusable="false">
                    <use xlink:href="#svg-logo-vikinger"></use>
                </svg>
            </div>

            <h2 class="landing-info-pretitle">{{ 'login.welcome'|trans }}</h2>

            <h1 class="landing-info-title">{{ 'site.title'|trans }}</h1>

            <p class="landing-info-text">{{ 'landing.info_text'|trans }}</p>

            <div class="tab-switch" role="tablist">
                <p id="login-tab" class="tab-switch-button login-register-form-trigger" role="tab" aria-selected="true" aria-controls="login-form">{{ 'login.tab'|trans }}</p>

                <a id="register-tab" class="tab-switch-button login-register-form-trigger" role="tab" aria-selected="false" aria-controls="register-form" href="{{ path('app_register') }}">{{ 'register.tab'|trans }}</a>
            </div>
        </div>

        <div class="landing-form">

            <div id="login-form" class="form-box login-register-form-element" role="tabpanel" aria-labelledby="login-tab">
                <img class="form-box-decoration overflowing" src="/img/landing/rocket.png" alt="{{ 'login.decorative_image'|trans }}">

                <h2 class="form-box-title">{{ 'login.account_login'|trans }}</h2>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {% for flash_error in app.flashes('verify_email_error') %}
                    <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
                {% endfor %}

                {% for label, messages in app.flashes(['success', 'error']) %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label == 'error' ? 'danger' : label }}" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endfor %}

                <form name="login_form" class="form" action="{{ path('app_login') }}" method="post">
                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <div class="form-row">
                        <div class="form-item">
                            <div class="form-input">
                                <label for="username">{{ 'login.email'|trans }}</label>
                                <input type="text" id="username" name="_username" value="{{ last_username }}" class="form-control" required autofocus aria-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-item">
                            <div class="form-input">
                                <label for="password">{{ 'login.password'|trans }}</label>
                                <input type="password" id="password" name="_password" class="form-control" required aria-required="true">
                            </div>
                        </div>
                    </div>

                    <div class="form-row space-between">
                        <div class="form-item">
                            <div class="checkbox-wrap">
                                <input type="checkbox" id="remember_me" name="_remember_me" class="form-check-input" tabindex="3">
                                <div class="checkbox-box">
                                    <svg class="icon-cross" aria-hidden="true">
                                        <use xlink:href="#svg-cross"></use>
                                    </svg>
                                </div>
                                <label for="remember_me">{{ 'login.remember_me'|trans }}</label>
                            </div>
                        </div>
                        <div class="form-item">
                            <a class="form-link" href="{{ path('app_forgot_password_request') }}">{{ 'login.forgot_password'|trans }}</a>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-item">
                            <button type="submit" class="button medium secondary">{{ 'login.submit'|trans }}</button>
                        </div>
                    </div>
                </form>

                {#<p class="lined-text">{{ 'login.social_login'|trans }}</p>

                <div class="social-links">
                    <a class="social-link facebook" href="#" aria-label="{{ 'login.facebook'|trans }}">
                        <svg class="icon-facebook" aria-hidden="true" focusable="false">
                            <use xlink:href="#svg-facebook"></use>
                        </svg>
                    </a>

                    <a class="social-link twitter" href="#" aria-label="{{ 'login.twitter'|trans }}">
                        <svg class="icon-twitter" aria-hidden="true" focusable="false">
                            <use xlink:href="#svg-twitter"></use>
                        </svg>
                    </a>

                    <a class="social-link twitch" href="#" aria-label="{{ 'login.twitch'|trans }}">
                        <svg class="icon-twitch" aria-hidden="true" focusable="false">
                            <use xlink:href="#svg-twitch"></use>
                        </svg>
                    </a>

                    <a class="social-link youtube" href="#" aria-label="{{ 'login.youtube'|trans }}">
                        <svg class="icon-youtube" aria-hidden="true" focusable="false">
                            <use xlink:href="#svg-youtube"></use>
                        </svg>
                    </a>
                </div>#}
            </div>

            <div id="register-form" class="form-box login-register-form-element" role="tabpanel" aria-labelledby="register-tab">

            </div>
        </div>
    </div>
{% endblock %}