
<nav id="navigation-widget-small" class="navigation-widget navigation-widget-desktop closed sidebar left delayed">
    <a class="user-avatar small no-outline online" href="#">
        <div class="user-avatar-content">
            <div class="hexagon-image-30-32" data-src="/img/avatar/01.jpg"></div>
        </div>

        <div class="user-avatar-progress">
            <div class="hexagon-progress-40-44"></div>
        </div>

        <div class="user-avatar-progress-border">
            <div class="hexagon-border-40-44"></div>
        </div>

        <div class="user-avatar-badge">
            <div class="user-avatar-badge-border">
                <div class="hexagon-22-24"></div>
            </div>

            <div class="user-avatar-badge-content">
                <div class="hexagon-dark-16-18"></div>
            </div>

            <p class="user-avatar-badge-text">24</p>
        </div>
    </a>

    <ul class="menu small">
        <li class="menu-item {{ app.request.attributes.get('_route') == 'app_ending_new' ? 'active' : '' }}">
            <a class="menu-item-link text-tooltip-tfr" href="{{ path('app_ending_new') }}" data-title="Newsfeed">
                <svg class="menu-item-link-icon icon-newsfeed">
                    <use xlink:href="#svg-newsfeed"></use>
                </svg>
            </a>
        </li>

        <li class="menu-item {{ app.request.attributes.get('_route') == 'app_ending_my_endings' ? 'active' : '' }}">
            <a class="menu-item-link text-tooltip-tfr" href="{{ path('app_ending_my_endings') }}" data-title="My Endings">
                <svg class="menu-item-link-icon icon-overview">
                    <use xlink:href="#svg-overview"></use>
                </svg>
            </a>
        </li>

        <li class="menu-item {{ app.request.attributes.get('_route') == 'admin_pending_endings' ? 'active' : '' }}">
            <a class="menu-item-link text-tooltip-tfr" href="{{ path('admin_pending_endings') }}" data-title="Pending Endings">
                <svg class="menu-item-link-icon icon-forums">
                    <use xlink:href="#svg-forums"></use>
                </svg>
            </a>
        </li>
    </ul>
</nav>

<nav id="navigation-widget" class="navigation-widget navigation-widget-desktop sidebar left hidden" data-simplebar>
    <figure class="navigation-widget-cover liquid">
        <img src="/img/cover/01.jpg" alt="cover-01">
    </figure>

    <div class="user-short-description">
        <a class="user-short-description-avatar user-avatar medium" href="#">
            <div class="user-avatar-border">
                <div class="hexagon-120-132"></div>
            </div>

            <div class="user-avatar-content">
                <div class="hexagon-image-82-90" data-src="/img/avatar/01.jpg"></div>
            </div>

            <div class="user-avatar-progress">
                <div class="hexagon-progress-100-110"></div>
            </div>

            <div class="user-avatar-progress-border">
                <div class="hexagon-border-100-110"></div>
            </div>

            <div class="user-avatar-badge">
                <div class="user-avatar-badge-border">
                    <div class="hexagon-32-36"></div>
                </div>

                <div class="user-avatar-badge-content">
                    <div class="hexagon-dark-26-28"></div>
                </div>

                <p class="user-avatar-badge-text">24</p>
            </div>
        </a>

        <p class="user-short-description-title"><a href="#">{{ app.user ? app.user.firstName : 'Guest' }}</a></p>

    </div>

    <ul class="menu">
        <li class="menu-item {{ app.request.attributes.get('_route') == 'app_ending_new' ? 'active' : '' }}">
            <a class="menu-item-link" href="{{ path('app_ending_new') }}">
                <svg class="menu-item-link-icon icon-newsfeed">
                    <use xlink:href="#svg-newsfeed"></use>
                </svg>
                New Ending
            </a>
        </li>

        <li class="menu-item {{ app.request.attributes.get('_route') == 'app_ending_my_endings' ? 'active' : '' }}">
            <a class="menu-item-link" href="{{ path('app_ending_my_endings') }}">
                <svg class="menu-item-link-icon icon-overview">
                    <use xlink:href="#svg-overview"></use>
                </svg>
                My Endings
            </a>
        </li>

        <li class="menu-item {{ app.request.attributes.get('_route') == 'admin_pending_endings' ? 'active' : '' }}">
            <a class="menu-item-link" href="{{ path('admin_pending_endings') }}">
                <svg class="menu-item-link-icon icon-forums">
                    <use xlink:href="#svg-forums"></use>
                </svg>
                Pending Endings
            </a>
        </li>
    </ul>
</nav>

<nav id="navigation-widget-mobile" class="navigation-widget navigation-widget-mobile sidebar left hidden" data-simplebar>
    <div class="navigation-widget-close-button">
        <svg class="navigation-widget-close-button-icon icon-back-arrow">
            <use xlink:href="#svg-back-arrow"></use>
        </svg>
    </div>

    <div class="navigation-widget-info-wrap">
        <div class="navigation-widget-info">
            <a class="user-avatar small no-outline" href="#">
                <div class="user-avatar-content">
                    <div class="hexagon-image-30-32" data-src="/img/avatar/01.jpg"></div>
                </div>

                <div class="user-avatar-progress">
                    <div class="hexagon-progress-40-44"></div>
                </div>

                <div class="user-avatar-progress-border">
                    <div class="hexagon-border-40-44"></div>
                </div>

                <div class="user-avatar-badge">
                    <div class="user-avatar-badge-border">
                        <div class="hexagon-22-24"></div>
                    </div>

                    <div class="user-avatar-badge-content">
                        <div class="hexagon-dark-16-18"></div>
                    </div>

                    <p class="user-avatar-badge-text">24</p>
                </div>
            </a>

            <p class="navigation-widget-info-title"><a href="#">{{ app.user ? app.user.firstName : 'Guest' }}</a></p>

            <p class="navigation-widget-info-text">Welcome Back!</p>
        </div>

        <form action="{{ path('app_logout') }}" method="post" style="display: inline;">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
            <button type="submit" class="dropdown-navigation-button button small secondary">Logout</button>
        </form>
    </div>

    <p class="navigation-widget-section-title">Sections</p>

    <ul class="menu">
        <li class="menu-item {{ app.request.attributes.get('_route') == 'app_ending_new' ? 'active' : '' }}">
            <a class="menu-item-link" href="{{ path('app_ending_new') }}">
                <svg class="menu-item-link-icon icon-newsfeed">
                    <use xlink:href="#svg-newsfeed"></use>
                </svg>
                New Ending
            </a>
        </li>

        <li class="menu-item {{ app.request.attributes.get('_route') == 'app_ending_my_endings' ? 'active' : '' }}">
            <a class="menu-item-link" href="{{ path('app_ending_my_endings') }}">
                <svg class="menu-item-link-icon icon-overview">
                    <use xlink:href="#svg-overview"></use>
                </svg>
                My Endings
            </a>
        </li>

        <li class="menu-item {{ app.request.attributes.get('_route') == 'admin_pending_endings' ? 'active' : '' }}">
            <a class="menu-item-link" href="{{ path('admin_pending_endings') }}">
                <svg class="menu-item-link-icon icon-forums">
                    <use xlink:href="#svg-forums"></use>
                </svg>
                Pending Endings
            </a>
        </li>
    </ul>
</nav>
